:root {
  --blue: #4f9fef;
  --bg: #000000;
  --shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

body {
  font-size: 1,2rem;
  font-family: 'Work Sans',Sans-Serif;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url(Img/wedding.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: sepia(60%);
}

.hero {
  position: relative;
  min-height: 100vh;
}


.hero h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  text-shadow: var(--shadow);
}

.hero h4 {
  font-size: 1,5rem;
  text-shadow: var(--shadow);
}

.hero p {
  font-size: 1,5rem;
  text-shadow: var(--shadow);
}

.hero a {
  color: var(--blue);
  background-color: white;
}

.hero a:hover {
  background-color: var(--blue);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important; 
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
  font-family: 'Sacramento', cursive;
  font-size: 4ch;
  font-weight: bold;
}

.mynavbar .nav-link{
  text-transform: uppercase;
}

.mempelai {
  background-image: url(Img/bg.jpg);
  background-size: cover;
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.mempelai h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: pink;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: bold;
}

.mempelai h3 {
  color: #444;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.mempelai p {
  font-size: 1,5rem;
  color: #0000007a;
  font-weight: 600;
}

.mempelai .couple {
  margin-top: 100px;
}

.mempelai .couple h3 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  color: pink;
  font-weight: 700;
}

.mempelai .couple img {
  width: 100%;
}

.mempelai .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.mempelai .heart i {
  margin: auto;
  color: pink;
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
  min-height: 100vh;
}

.info h2 {
  color: pink;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: bold;
}

.info .alamat {
  font-size: 1,1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  transform: uppercase;
  letter-spacing: 0,1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size:  0,7rem;
  font-weight: 300;
  color: white !important;
}

.gallery,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-color: #f5f5f5f5;
}

.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0,9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.gallery p,
.rsvp p
.gifts p {
  font-size: 1rem;
  font-weight: 700;
}

.rsvp {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-color: var(--bg);
}

.rsvp h2 {
  font-size: 4,5rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: #f39595;
  color: white;
  border: 1px solid #f39595;
}

.rsvp button:hover {
  background-color: white;
  color: #f39595;
  border: 1px solid white;
}

footer {
  padding: 3rem;
  background-color: #ec6f6f;
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0,7rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0,5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  
  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* Extra large  */
@media (max-width: 1200px) {
  .mempelai .heart {
     transform: translateX(-50%) translateY(45px); 
  }
}

/* leptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  
  .simply-countdown > .simply-section {
    padding: 70px;
  }
  
 .mempelai .heart {
     display: none;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  
  .mynavbar .nav-link{
    font-size: 2rem;
    text-align: center;
  }
  
  .sticky-top {
    overflow: hidden;
  }
}

/* mobile phone*/
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  }
}